<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input [(ngModel)]="buscador" #input (keyup)="searchHospital(input.value)" placeholder="Buscar hospital" class="form-control" />
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="loading">
    <div class="col-md-12">
        <div class="alert alert-warning text-center">

            <strong>Cargando</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>
      Espere por favor
    </span>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="!loading">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title"> Hospitales registrados (<small>{{total}}</small>) <button class="btn btn-success agregar" (click)="create()">Nuevo</button> </h3>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Imagen</th>

                            <th>Nombre</th>

                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let hospital of hospitales">
                            <td>
                                <button *ngIf="!hospital.img" (click)="_modalUploadService.mostrarModal('hospital',hospital.id)" class="btn btn-success">Subir</button>
                                <div>
                                    <img (click)="_modalUploadService.mostrarModal('hospital',hospital.id)" *ngIf="hospital.img" class="icon" [src]="'http://hospital.local/theme/images/hospitals/'+ hospital.img"></div>
                            </td>
                            <td><input [(ngModel)]="hospital.nombre" class="form-control"></td>
                            <td>

                            </td>
                            <td>
                                <button class="btn btn-primary" (click)="update(hospital.id, hospital.nombre)">
                <i class="fa fa-save" ></i>
              </button>
                                <button class="btn btn-danger" (click)="destroy(hospital.id)">
                <i class="fa fa-trash-o"></i>
              </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-secondary" (click)="backPage()" [disabled]="desde <= 1">Anterior</button>
                <button class="btn btn-secondary" (click)="nextPage()" [disabled]="desde == hasta">Siguiente</button>
            </div>
        </div>
    </div>
</div>
