<aside class="left-sidebar" data-sidebarbg="skin5">
    <div class="scroll-sidebar">
        <nav class="sidebar-nav">
            <ul id="sidebarnav" class="p-t-30">
                <!-- <li class="sidebar-item" *ngFor="let menu of _sidebar.menu">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="index.html" aria-expanded="false"><i [class]="menu.icono"></i
            ><span class="hide-menu">{{menu.titulo}}</span></a
          >
        </li> -->
                <li class="sidebar-item" *ngFor="let menu of _sidebar.menu">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i [class]="menu.icono"></i
            ><span class="hide-menu">{{menu.titulo}} </span></a
          >
          <ul aria-expanded="false" class="collapse first-level">
            <li routerLinkActive="Active" class="sidebar-item"  *ngFor="let submenu of menu.submenu">
              <a  [routerLink]="[submenu.url]" class="sidebar-link"
                ><i class="mdi mdi-note-outline"></i
                ><span class="hide-menu">{{submenu.titulo}} </span></a
              >
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</aside>